body{
    font-family:'Cabin Sketch', Impact, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.stars, .twinkling, .clouds {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:flex;
}

  @keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

.stars{
background:#000 url("images/specstars.png") repeat top center fixed;
z-index:0;
}

.twinkling{
background:transparent url("images/twinkling.png") repeat top center;
z-index:1;
animation:move-twink-back 200s linear infinite;
}

.clouds {
  background:transparent url("images/clouds.png") repeat top center;
  z-index:2;
  opacity: .5;
  animation:move-clouds-back 200s linear infinite;
}  

.LoginBox{ 
width: 400px;
height: 430px;
padding: 40px 30px;
border-radius: 8px;
box-sizing: 4px;
box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
background:linear-gradient(35deg, grey, black);
color: white;
z-index: 4;
}

.LoginBox h1{
    font-size: 75px;
    text-align: center;
    word-spacing: 0.05em;
    position: relative;
    top: 42px;
}

.LoginBox .UseBox{
    width: 100%;
    height: 50px;
    background: white;
    margin: 30px 0;
}

.UseBox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
}

.UseBox input::placeholder{
    color:black;
    font-family: 'Cabin Sketch', Impact,'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}

.LoginBox .PassBox{
    width: 100%;
    height: 50px;
    background: white;
    margin: 30px 0;
}

.PassBox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;

}

.PassBox input::placeholder{
    color: black;
    font-family: 'Cabin Sketch', Impact, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}

.LoginBox .butn{
    width: 100%;
    height: 40px;
    background: white;
    font-family: 'Cabin Sketch', Impact, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}

.LoginBox .FP{
    color: white;
}

.UseBox input:focus::placeholder{
        color: transparent;
        font-size: 10em;
}

.PassBox input:focus::placeholder{
        color: transparent;
}

.LoginBox input{
    font-size: xx-large;
    font-family: 'Nanum Pen Script', cursive;
}

.astronot{
   background: url("images/astronot.png") no-repeat center;
   background-size: 32%;
   position: absolute;
   top: -180px;;
   left:0;
   right: 0px;
   bottom:0;
   width:100%;
   height:100%;
   display:flex;
   z-index: 5;
}
    



